body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: #55A54E;
    color: #EDE9A2;
    overflow: auto;
    border-bottom: 4px solid #EDE9A2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    float: right;
    list-style: none;
}

.main_title {
    margin: 0;
    float: left;
    padding-top: 5px;
}

body .header .navbar li {
    float: left;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.contrast {
    color: #006400;
    text-align: center;
}

.bt_register {
    background-color: #EDE9A2;
    color: #55A54E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    border: 0;
    padding: 1px 6px;
}

.banner {
    background-image: url(img/Rectangle\ 6-000.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    border-bottom: 5px solid #006400;
    margin-bottom: 0;
}

.about_us {
    margin: 0;
    overflow: auto;
}

.about_us-title {
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
}

.about_us-box {
    background-color: #EDE9A2;
    padding: 40px 130px 20px 130px;
    margin: 95px;
    text-align: justify;
    border-bottom: 10px solid #555555;
    border-left: 10px solid #555555;
    border-radius: 30px;
}

.about_us-box .we_are-phrase {
    text-align: center;
}

.banner_team_box {
    background-image: url(img/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #006400;
}

.banner_team_box .team {
    margin: 0;
    overflow: auto;
    opacity: 96%;
}

.team_box {
    margin: 95px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #928E8E;
    padding: 30px 90px 520px 90px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-radius: 30px;
}

.box_ceo img {
    height: 200px;
    margin: 0;
    padding-top: 10px;
    border-bottom: 6px solid black;
    border-radius: 30px;
}

.box_ceo {
    float: left;
    margin: 0;
    width: 50%;
    text-align: center;
}

.box img {
    height: 150px;
    margin: 0;
    padding-top: 10px;
    border-bottom: 6px solid #555555;
    border-left: 6px solid #555555;
    border-radius: 90px;
}

.box {
    margin: 0;
    width: 25%;
    text-align: center;
    float: left;
}

.name_title {
    margin: 0;
    padding-top: 5px;
    color: black;
}

.position_title {
    margin: 0;
    padding-top: 2px;
    font-size: small;
    color: black;
}

.footer {
    background-color: #55A54E;
    padding-bottom: 20px;
}

.copyright {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.contrast-footer {
    color: #006400;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

.cane {
    color: #EDE9A2;
}



